In [2]:
import numpy as np
import pandas as pd

In [3]:
df=pd.read_csv("results.csv")

In [5]:
df.shape

(164, 6)

In [6]:
df.head()

,date,competition,team_1,team_1_score,team_2_score,team_2
0,19-11-2019,International - European Championship Qualific...,Germany,6,1,Northern Ireland
1,19-11-2019,International - European Championship Qualific...,Netherlands,5,0,Estonia
2,19-11-2019,International - European Championship Qualific...,Slovakia,2,0,Azerbaijan
3,19-11-2019,International - European Championship Qualific...,Wales,2,0,Hungary
4,19-11-2019,International - European Championship Qualific...,Macedonia,1,0,Israel

In [7]:
df.tail()

,date,competition,team_1,team_1_score,team_2_score,team_2
159,14-11-2019,International - World Cup Qualification AFC 2n...,Burma,4,3,Tajikistan
160,14-11-2019,International - World Cup Qualification AFC 2n...,Malaysia,2,1,Thailand
161,14-11-2019,International - World Cup Qualification AFC 2n...,Vietnam,1,0,United Arab Emirates
162,14-11-2019,International - World Cup Qualification AFC 2n...,Turkmenistan,3,1,Korea DPR
163,14-11-2019,International - World Cup Qualification AFC 2n...,Lebanon,0,0,Korea Republic

In [10]:
home=df.iloc[:,3:4]
away=df.iloc[:,4:5]

In [11]:
home

     team_1_score
0               6
1               5
2               2
3               2
4               1
..            ...
159             4
160             2
161             1
162             3
163             0

[164 rows x 1 columns]

In [12]:
away

     team_2_score
0               1
1               0
2               0
3               0
4               0
..            ...
159             3
160             1
161             0
162             1
163             0

[164 rows x 1 columns]

In [25]:
home=np.array(home)
home

array([[ 6],
       [ 5],
       [ 2],
       [ 2],
       [ 1],
       [ 1],
       [ 3],
       [ 6],
       [ 0],
       [ 3],
       [ 0],
       [ 2],
       [ 1],
       [ 2],
       [ 0],
       [ 2],
       [ 2],
       [ 2],
       [ 0],
       [ 2],
       [ 1],
       [ 1],
       [ 3],
       [ 1],
       [ 3],
       [ 0],
       [ 2],
       [ 2],
       [ 3],
       [ 1],
       [ 0],
       [ 5],
       [ 2],
       [ 0],
       [ 2],
       [ 1],
       [ 0],
       [ 1],
       [ 1],
       [ 1],
       [ 2],
       [ 0],
       [ 2],
       [ 0],
       [ 1],
       [ 1],
       [ 1],
       [ 5],
       [ 3],
       [ 2],
       [ 9],
       [ 0],
       [ 0],
       [ 2],
       [ 2],
       [ 0],
       [ 1],
       [ 0],
       [ 4],
       [ 1],
       [ 3],
       [ 1],
       [10],
       [ 2],
       [ 1],
       [ 0],
       [ 2],
       [ 0],
       [ 0],
       [ 1],
       [ 0],
       [ 0],
       [ 2],
       [ 2],
       [ 0],
       [ 1],
       [ 2],
       [ 0],
       [ 1],
       [ 3],
       [ 1],
       [ 2],
       [ 3],
       [ 1],
       [ 1],
       [ 1],
       [ 1],
       [ 5],
       [ 1],
       [ 4],
       [ 0],
       [ 0],
       [ 3],
       [ 1],
       [ 2],
       [ 1],
       [ 1],
       [ 1],
       [ 1],
       [ 1],
       [ 1],
       [ 4],
       [ 0],
       [ 0],
       [ 4],
       [ 1],
       [ 1],
       [ 6],
       [ 1],
       [ 4],
       [ 0],
       [ 7],
       [ 0],
       [ 3],
       [ 0],
       [ 0],
       [ 0],
       [ 2],
       [ 4],
       [ 1],
       [ 1],
       [ 2],
       [ 1],
       [ 4],
       [ 3],
       [ 0],
       [ 0],
       [ 1],
       [ 7],
       [ 2],
       [ 6],
       [ 3],
       [ 0],
       [ 2],
       [ 2],
       [ 2],
       [ 2],
       [ 0],
       [ 2],
       [ 1],
       [ 0],
       [ 5],
       [ 0],
       [ 3],
       [ 1],
       [ 2],
       [ 1],
       [ 0],
       [ 3],
       [ 1],
       [ 2],
       [ 0],
       [ 9],
       [ 0],
       [ 2],
       [ 2],
       [ 1],
       [ 1],
       [ 4],
       [ 4],
       [ 2],
       [ 1],
       [ 3],
       [ 0]], dtype=int64)

In [26]:
home.mean()

1.8109756097560976

In [28]:
away=np.array(away)
away.mean()

1.024390243902439

In [29]:
home.sum()

297

In [30]:
away.sum()

168

# Observation 1
## Home team score more goals than away teams

In [19]:
home_team=df.iloc[:,2:3]
away_team=df.iloc[:,5:6]

In [20]:
home_team.head()

        team_1
0      Germany
1  Netherlands
2     Slovakia
3        Wales
4    Macedonia

In [21]:
away_team.head()

             team_2
0  Northern Ireland
1           Estonia
2        Azerbaijan
3           Hungary
4            Israel

In [22]:
h=np.array(home_team)

In [23]:
h

array([['Germany'],
       ['Netherlands'],
       ['Slovakia'],
       ['Wales'],
       ['Macedonia'],
       ['Latvia'],
       ['Poland'],
       ['Belgium'],
       ['San Marino'],
       ['Scotland'],
       ['Burundi'],
       ['Mauritania'],
       ['Zambia'],
       ['Libya'],
       ['Equatorial Guinea'],
       ['Ethiopia'],
       ['Niger'],
       ['El Salvador'],
       ['St. Lucia'],
       ['Aruba'],
       ['Jamaica'],
       ['Nicaragua'],
       ['Puerto Rico'],
       ['Japan'],
       ['Brazil'],
       ['Saudi Arabia'],
       ['Montenegro'],
       ['Croatia'],
       ['Maldives'],
       ['Syria'],
       ['Nepal'],
       ['Jordan'],
       ['Hong Kong'],
       ['Iraq'],
       ['Uzbekistan'],
       ['Yemen'],
       ['Afghanistan'],
       ['Oman'],
       ['Burma'],
       ['Kyrgyzstan'],
       ['Malaysia'],
       ['Vietnam'],
       ['Turkmenistan'],
       ['Lebanon'],
       ['Gibraltar'],
       ['Ireland'],
       ['Malta'],
       ['Spain'],
       ['Sweden'],
       ['Greece'],
       ['Italy'],
       ['Liechtenstein'],
       ['São Tomé and Príncipe'],
       ['Gambia'],
       ['Cape Verde'],
       ['Comoros'],
       ['Kenya'],
       ['Botswana'],
       ['Honduras'],
       ['Costa Rica'],
       ['Grenada'],
       ['Dominica'],
       ['Guadeloupe'],
       ['Argentina'],
       ['Bulgaria'],
       ['Kosovo'],
       ['Serbia'],
       ['Luxembourg'],
       ['Andorra'],
       ['Moldova'],
       ['Albania'],
       ['Chad'],
       ['Guinea'],
       ['Uganda'],
       ['South Sudan'],
       ['South Africa'],
       ['Gabon'],
       ['Rwanda'],
       ['Swaziland'],
       ['Congo'],
       ['Benin'],
       ['Lesotho'],
       ['French Guyana'],
       ['St. Lucia'],
       ['El Salvador'],
       ['Cayman Islands'],
       ['Bonaire'],
       ['Guatemala'],
       ['Lithuania'],
       ['Germany'],
       ['Northern Ireland'],
       ['Azerbaijan'],
       ['Croatia'],
       ['Slovenia'],
       ['Austria'],
       ['Israel'],
       ['Cyprus'],
       ['Russia'],
       ['San Marino'],
       ['Madagascar'],
       ['Ivory Coast'],
       ['USA'],
       ['Panama'],
       ['Antigua and Barbuda'],
       ['Guyana'],
       ['St. Martin'],
       ['Colombia'],
       ['Denmark'],
       ['Switzerland'],
       ['Norway'],
       ['Romania'],
       ['Spain'],
       ['Armenia'],
       ['Finland'],
       ['Bosnia-Herzegovina'],
       ['Morocco'],
       ['Zimbabwe'],
       ['Tanzania'],
       ['Tunisia'],
       ['Martinique'],
       ['Curaçao'],
       ['Belize'],
       ['St. Vincent and the Grenadines'],
       ['Suriname'],
       ['Bahamas'],
       ['Trinidad and Tobago'],
       ['Brazil'],
       ['Hungary'],
       ['England'],
       ['Czech Republic'],
       ['Portugal'],
       ['Serbia'],
       ['Turkey'],
       ['Albania'],
       ['France'],
       ['Mali'],
       ['Ghana'],
       ['Congo DR'],
       ['Mozambique'],
       ['Egypt'],
       ['Togo'],
       ['Algeria'],
       ['St. Kitts and Nevis'],
       ['Turks and Caicos Islands'],
       ['Cambodia'],
       ['Qatar'],
       ['Ukraine'],
       ['Bulgaria'],
       ['Ireland'],
       ['Maldives'],
       ['Syria'],
       ['Jordan'],
       ['Kuwait'],
       ['Hong Kong'],
       ['Iraq'],
       ['Uzbekistan'],
       ['Yemen'],
       ['Afghanistan'],
       ['Oman'],
       ['Burma'],
       ['Malaysia'],
       ['Vietnam'],
       ['Turkmenistan'],
       ['Lebanon']], dtype=object)

In [31]:
a=np.array(away_team)
a

array([['Northern Ireland'],
       ['Estonia'],
       ['Azerbaijan'],
       ['Hungary'],
       ['Israel'],
       ['Austria'],
       ['Slovenia'],
       ['Cyprus'],
       ['Russia'],
       ['Kazakhstan'],
       ['Morocco'],
       ['Central African Republic'],
       ['Zimbabwe'],
       ['Tanzania'],
       ['Tunisia'],
       ['Ivory Coast'],
       ['Madagascar'],
       ['Dominican Republic'],
       ['Montserrat'],
       ['Antigua and Barbuda'],
       ['Guyana'],
       ['Suriname'],
       ['Anguilla'],
       ['Venezuela'],
       ['Korea Republic'],
       ['Paraguay'],
       ['Belarus'],
       ['Georgia'],
       ['Guam'],
       ['Philippines'],
       ['Kuwait'],
       ['Taiwan'],
       ['Cambodia'],
       ['Bahrain'],
       ['Palestine'],
       ['Singapore'],
       ['Qatar'],
       ['India'],
       ['Mongolia'],
       ['Tajikistan'],
       ['Indonesia'],
       ['Thailand'],
       ['Sri Lanka'],
       ['Korea DPR'],
       ['Switzerland'],
       ['Denmark'],
       ['Norway'],
       ['Romania'],
       ['Faroe Islands'],
       ['Finland'],
       ['Armenia'],
       ['Bosnia-Herzegovina'],
       ['Ghana'],
       ['Congo DR'],
       ['Mozambique'],
       ['Egypt'],
       ['Togo'],
       ['Algeria'],
       ['Trinidad and Tobago'],
       ['Haiti'],
       ['Belize'],
       ['St. Vincent and the Grenadines'],
       ['Turks and Caicos Islands'],
       ['Uruguay'],
       ['Czech Republic'],
       ['England'],
       ['Ukraine'],
       ['Portugal'],
       ['Turkey'],
       ['Iceland'],
       ['France'],
       ['Mali'],
       ['Namibia'],
       ['Malawi'],
       ['Burkina Faso'],
       ['Sudan'],
       ['Angola'],
       ['Cameroon'],
       ['Senegal'],
       ['Guinea-Bissau'],
       ['Sierra Leone'],
       ['Nigeria'],
       ['St. Kitts and Nevis'],
       ['Dominican Republic'],
       ['Montserrat'],
       ['Virgin Islands'],
       ['Bahamas'],
       ['Puerto Rico'],
       ['New Zealand'],
       ['Belarus'],
       ['Netherlands'],
       ['Wales'],
       ['Slovakia'],
       ['Latvia'],
       ['Macedonia'],
       ['Poland'],
       ['Scotland'],
       ['Belgium'],
       ['Kazakhstan'],
       ['Ethiopia'],
       ['Niger'],
       ['Canada'],
       ['Mexico'],
       ['Jamaica'],
       ['Aruba'],
       ['Barbados'],
       ['Peru'],
       ['Gibraltar'],
       ['Georgia'],
       ['Faroe Islands'],
       ['Sweden'],
       ['Malta'],
       ['Greece'],
       ['Liechtenstein'],
       ['Italy'],
       ['Mauritania'],
       ['Botswana'],
       ['Equatorial Guinea'],
       ['Libya'],
       ['Honduras'],
       ['Costa Rica'],
       ['French Guyana'],
       ['Nicaragua'],
       ['Dominica'],
       ['British Virgin Islands'],
       ['Ecuador'],
       ['Argentina'],
       ['Uruguay'],
       ['Montenegro'],
       ['Kosovo'],
       ['Lithuania'],
       ['Luxembourg'],
       ['Iceland'],
       ['Andorra'],
       ['Moldova'],
       ['Guinea'],
       ['South Africa'],
       ['Gabon'],
       ['Rwanda'],
       ['Kenya'],
       ['Comoros'],
       ['Zambia'],
       ['Grenada'],
       ['Sint Maarten'],
       ['Mongolia'],
       ['Singapore'],
       ['Estonia'],
       ['Paraguay'],
       ['New Zealand'],
       ['Philippines'],
       ['China'],
       ['Australia'],
       ['Taiwan'],
       ['Bahrain'],
       ['Iran'],
       ['Saudi Arabia'],
       ['Palestine'],
       ['India'],
       ['Bangladesh'],
       ['Tajikistan'],
       ['Thailand'],
       ['United Arab Emirates'],
       ['Korea DPR'],
       ['Korea Republic']], dtype=object)

In [40]:
unique,counts=np.unique(a,return_counts=True)

In [42]:
print (unique,counts)

['Algeria' 'Andorra' 'Angola' 'Anguilla' 'Antigua and Barbuda' 'Argentina'
 'Armenia' 'Aruba' 'Australia' 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain'
 'Bangladesh' 'Barbados' 'Belarus' 'Belgium' 'Belize' 'Bosnia-Herzegovina'
 'Botswana' 'British Virgin Islands' 'Burkina Faso' 'Cambodia' 'Cameroon'
 'Canada' 'Central African Republic' 'China' 'Comoros' 'Congo DR'
 'Costa Rica' 'Cyprus' 'Czech Republic' 'Denmark' 'Dominica'
 'Dominican Republic' 'Ecuador' 'Egypt' 'England' 'Equatorial Guinea'
 'Estonia' 'Ethiopia' 'Faroe Islands' 'Finland' 'France' 'French Guyana'
 'Gabon' 'Georgia' 'Ghana' 'Gibraltar' 'Greece' 'Grenada' 'Guam' 'Guinea'
 'Guinea-Bissau' 'Guyana' 'Haiti' 'Honduras' 'Hungary' 'Iceland' 'India'
 'Indonesia' 'Iran' 'Israel' 'Italy' 'Ivory Coast' 'Jamaica' 'Kazakhstan'
 'Kenya' 'Korea DPR' 'Korea Republic' 'Kosovo' 'Kuwait' 'Latvia' 'Libya'
 'Liechtenstein' 'Lithuania' 'Luxembourg' 'Macedonia' 'Madagascar'
 'Malawi' 'Mali' 'Malta' 'Mauritania' 'Mexico' 'Moldova' 'Mongolia'
 'Montenegro' 'Montserrat' 'Morocco' 'Mozambique' 'Namibia' 'Netherlands'
 'New Zealand' 'Nicaragua' 'Niger' 'Nigeria' 'Northern Ireland' 'Norway'
 'Palestine' 'Paraguay' 'Peru' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Romania' 'Russia' 'Rwanda' 'Saudi Arabia'
 'Scotland' 'Senegal' 'Sierra Leone' 'Singapore' 'Sint Maarten' 'Slovakia'
 'Slovenia' 'South Africa' 'Sri Lanka' 'St. Kitts and Nevis'
 'St. Vincent and the Grenadines' 'Sudan' 'Suriname' 'Sweden'
 'Switzerland' 'Taiwan' 'Tajikistan' 'Tanzania' 'Thailand' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turks and Caicos Islands'
 'Ukraine' 'United Arab Emirates' 'Uruguay' 'Venezuela' 'Virgin Islands'
 'Wales' 'Zambia' 'Zimbabwe'] [1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1
 1 1 2 1 2 1 1 1 1 2 1 1 1 1 1 1 1 1 1 1 1 2 2 1 1 1 1 1 1 2 1 2 2 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 2 1 2 1 1 1 1 2 1 1 1 1 1 2 2 1 2 1 1 1 1 1 1 1 1 1
 1 1 2 1 1 1 1 1 1 1 1 1 1 1 2 2 1 2 1 1 1 1 1 1 1 2 1 1 1 1 1]

In [43]:
unique2,counts2=np.unique(h,return_counts=True)

In [44]:
print (unique2,counts2)

['Afghanistan' 'Albania' 'Algeria' 'Andorra' 'Antigua and Barbuda'
 'Argentina' 'Armenia' 'Aruba' 'Austria' 'Azerbaijan' 'Bahamas' 'Belgium'
 'Belize' 'Benin' 'Bonaire' 'Bosnia-Herzegovina' 'Botswana' 'Brazil'
 'Bulgaria' 'Burma' 'Burundi' 'Cambodia' 'Cape Verde' 'Cayman Islands'
 'Chad' 'Colombia' 'Comoros' 'Congo' 'Congo DR' 'Costa Rica' 'Croatia'
 'Curaçao' 'Cyprus' 'Czech Republic' 'Denmark' 'Dominica' 'Egypt'
 'El Salvador' 'England' 'Equatorial Guinea' 'Ethiopia' 'Finland' 'France'
 'French Guyana' 'Gabon' 'Gambia' 'Germany' 'Ghana' 'Gibraltar' 'Greece'
 'Grenada' 'Guadeloupe' 'Guatemala' 'Guinea' 'Guyana' 'Honduras'
 'Hong Kong' 'Hungary' 'Iraq' 'Ireland' 'Israel' 'Italy' 'Ivory Coast'
 'Jamaica' 'Japan' 'Jordan' 'Kenya' 'Kosovo' 'Kuwait' 'Kyrgyzstan'
 'Latvia' 'Lebanon' 'Lesotho' 'Libya' 'Liechtenstein' 'Lithuania'
 'Luxembourg' 'Macedonia' 'Madagascar' 'Malaysia' 'Maldives' 'Mali'
 'Malta' 'Martinique' 'Mauritania' 'Moldova' 'Montenegro' 'Morocco'
 'Mozambique' 'Nepal' 'Netherlands' 'Nicaragua' 'Niger' 'Northern Ireland'
 'Norway' 'Oman' 'Panama' 'Poland' 'Portugal' 'Puerto Rico' 'Qatar'
 'Romania' 'Russia' 'Rwanda' 'San Marino' 'Saudi Arabia' 'Scotland'
 'Serbia' 'Slovakia' 'Slovenia' 'South Africa' 'South Sudan' 'Spain'
 'St. Kitts and Nevis' 'St. Lucia' 'St. Martin'
 'St. Vincent and the Grenadines' 'Suriname' 'Swaziland' 'Sweden'
 'Switzerland' 'Syria' 'São Tomé and Príncipe' 'Tanzania' 'Togo'
 'Trinidad and Tobago' 'Tunisia' 'Turkey' 'Turkmenistan'
 'Turks and Caicos Islands' 'USA' 'Uganda' 'Ukraine' 'Uzbekistan'
 'Vietnam' 'Wales' 'Yemen' 'Zambia' 'Zimbabwe'] [2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 2 2 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1
 2 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 1 2 1 2 2 1 1 1 1 1 2 1 1 1 1 1 2 1 1
 1 1 1 1 1 2 2 1 1 1 1 1 1 1 1 1 1 1 1 1 1 2 1 1 1 1 1 1 1 1 2 1 1 2 1 1 1
 1 2 1 2 1 1 1 1 1 1 2 1 1 1 1 1 1 2 1 1 1 1 2 2 1 2 1 1]

In [45]:
counts.max()

2

In [46]:
counts2.max()

2

# Observation 2
## All team played one game (both home and away matches)
### Few teams played two games atmost (both home and away matches)

In [48]:
counts.sum()

164

In [49]:
counts2.sum()

164

### Total match played 164

In [50]:
date=df.iloc[:,0:1]

In [51]:
date

           date
0    19-11-2019
1    19-11-2019
2    19-11-2019
3    19-11-2019
4    19-11-2019
..          ...
159  14-11-2019
160  14-11-2019
161  14-11-2019
162  14-11-2019
163  14-11-2019

[164 rows x 1 columns]

In [52]:
date=np.array(date)
date

array([['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['19-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['18-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['17-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['16-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['15-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019'],
       ['14-11-2019']], dtype=object)

In [53]:
unique,counts=np.unique(date,return_counts=True)

In [54]:
print(unique,counts)

['14-11-2019' '15-11-2019' '16-11-2019' '17-11-2019' '18-11-2019'
 '19-11-2019'] [36 21 18 25 20 44]

# Observation 3
### Most matches were played on 19-11-2019 (44 played)
### Least matches were playes on 16-11-2019 (18 matches played)

In [56]:
com=df.iloc[:,1:2]
com

                                           competition
0    International - European Championship Qualific...
1    International - European Championship Qualific...
2    International - European Championship Qualific...
3    International - European Championship Qualific...
4    International - European Championship Qualific...
..                                                 ...
159  International - World Cup Qualification AFC 2n...
160  International - World Cup Qualification AFC 2n...
161  International - World Cup Qualification AFC 2n...
162  International - World Cup Qualification AFC 2n...
163  International - World Cup Qualification AFC 2n...

[164 rows x 1 columns]

In [57]:
com=np.array(com)
com

array([['International - European Championship Qualification Group C'],
       ['International - European Championship Qualification Group C'],
       ['International - European Championship Qualification Group E'],
       ['International - European Championship Qualification Group E'],
       ['International - European Championship Qualification Group G'],
       ['International - European Championship Qualification Group G'],
       ['International - European Championship Qualification Group G'],
       ['International - European Championship Qualification Group I'],
       ['International - European Championship Qualification Group I'],
       ['International - European Championship Qualification Group I'],
       ['International - Africa Cup of Nations Qualification Group E'],
       ['International - Africa Cup of Nations Qualification Group E'],
       ['International - Africa Cup of Nations Qualification Group H'],
       ['International - Africa Cup of Nations Qualification Group J'],
       ['International - Africa Cup of Nations Qualification Group J'],
       ['International - Africa Cup of Nations Qualification Group K'],
       ['International - Africa Cup of Nations Qualification Group K'],
       ['International - CONCACAF Nations League B Group 2'],
       ['International - CONCACAF Nations League B Group 2'],
       ['International - CONCACAF Nations League B Group 3'],
       ['International - CONCACAF Nations League B Group 3'],
       ['International - CONCACAF Nations League B Group 4'],
       ['International - CONCACAF Nations League C Group 3'],
       ['International - National Friendlies'],
       ['International - National Friendlies'],
       ['International - National Friendlies'],
       ['International - National Friendlies'],
       ['International - National Friendlies'],
       ['International - World Cup Qualification AFC 2nd Round Group A'],
       ['International - World Cup Qualification AFC 2nd Round Group A'],
       ['International - World Cup Qualification AFC 2nd Round Group B'],
       ['International - World Cup Qualification AFC 2nd Round Group B'],
       ['International - World Cup Qualification AFC 2nd Round Group C'],
       ['International - World Cup Qualification AFC 2nd Round Group C'],
       ['International - World Cup Qualification AFC 2nd Round Group D'],
       ['International - World Cup Qualification AFC 2nd Round Group D'],
       ['International - World Cup Qualification AFC 2nd Round Group E'],
       ['International - World Cup Qualification AFC 2nd Round Group E'],
       ['International - World Cup Qualification AFC 2nd Round Group F'],
       ['International - World Cup Qualification AFC 2nd Round Group F'],
       ['International - World Cup Qualification AFC 2nd Round Group G'],
       ['International - World Cup Qualification AFC 2nd Round Group G'],
       ['International - World Cup Qualification AFC 2nd Round Group H'],
       ['International - World Cup Qualification AFC 2nd Round Group H'],
       ['International - European Championship Qualification Group D'],
       ['International - European Championship Qualification Group D'],
       ['International - European Championship Qualification Group F'],
       ['International - European Championship Qualification Group F'],
       ['International - European Championship Qualification Group F'],
       ['International - European Championship Qualification Group J'],
       ['International - European Championship Qualification Group J'],
       ['International - European Championship Qualification Group J'],
       ['International - Africa Cup of Nations Qualification Group C'],
       ['International - Africa Cup of Nations Qualification Group D'],
       ['International - Africa Cup of Nations Qualification Group F'],
       ['International - Africa Cup of Nations Qualification Group G'],
       ['International - Africa Cup of Nations Qualification Group G'],
       ['International - Africa Cup of Nations Qualification Group H'],
       ['International - CONCACAF Nations League A Group 3'],
       ['International - CONCACAF Nations League A Group 4'],
       ['International - CONCACAF Nations League B Group 1'],
       ['International - CONCACAF Nations League B Group 4'],
       ['International - CONCACAF Nations League C Group 4'],
       ['International - National Friendlies'],
       ['International - European Championship Qualification Group A'],
       ['International - European Championship Qualification Group A'],
       ['International - European Championship Qualification Group B'],
       ['International - European Championship Qualification Group B'],
       ['International - European Championship Qualification Group H'],
       ['International - European Championship Qualification Group H'],
       ['International - European Championship Qualification Group H'],
       ['International - Africa Cup of Nations Qualification Group A'],
       ['International - Africa Cup of Nations Qualification Group A'],
       ['International - Africa Cup of Nations Qualification Group B'],
       ['International - Africa Cup of Nations Qualification Group B'],
       ['International - Africa Cup of Nations Qualification Group C'],
       ['International - Africa Cup of Nations Qualification Group D'],
       ['International - Africa Cup of Nations Qualification Group F'],
       ['International - Africa Cup of Nations Qualification Group I'],
       ['International - Africa Cup of Nations Qualification Group I'],
       ['International - Africa Cup of Nations Qualification Group L'],
       ['International - Africa Cup of Nations Qualification Group L'],
       ['International - CONCACAF Nations League B Group 1'],
       ['International - CONCACAF Nations League B Group 2'],
       ['International - CONCACAF Nations League B Group 2'],
       ['International - CONCACAF Nations League C Group 1'],
       ['International - CONCACAF Nations League C Group 2'],
       ['International - CONCACAF Nations League C Group 3'],
       ['International - National Friendlies'],
       ['International - European Championship Qualification Group C'],
       ['International - European Championship Qualification Group C'],
       ['International - European Championship Qualification Group E'],
       ['International - European Championship Qualification Group E'],
       ['International - European Championship Qualification Group G'],
       ['International - European Championship Qualification Group G'],
       ['International - European Championship Qualification Group G'],
       ['International - European Championship Qualification Group I'],
       ['International - European Championship Qualification Group I'],
       ['International - European Championship Qualification Group I'],
       ['International - Africa Cup of Nations Qualification Group K'],
       ['International - Africa Cup of Nations Qualification Group K'],
       ['International - CONCACAF Nations League A Group 1'],
       ['International - CONCACAF Nations League A Group 2'],
       ['International - CONCACAF Nations League B Group 3'],
       ['International - CONCACAF Nations League B Group 3'],
       ['International - CONCACAF Nations League C Group 1'],
       ['International - National Friendlies'],
       ['International - European Championship Qualification Group D'],
       ['International - European Championship Qualification Group D'],
       ['International - European Championship Qualification Group F'],
       ['International - European Championship Qualification Group F'],
       ['International - European Championship Qualification Group F'],
       ['International - European Championship Qualification Group J'],
       ['International - European Championship Qualification Group J'],
       ['International - European Championship Qualification Group J'],
       ['International - Africa Cup of Nations Qualification Group E'],
       ['International - Africa Cup of Nations Qualification Group H'],
       ['International - Africa Cup of Nations Qualification Group J'],
       ['International - Africa Cup of Nations Qualification Group J'],
       ['International - CONCACAF Nations League A Group 3'],
       ['International - CONCACAF Nations League A Group 4'],
       ['International - CONCACAF Nations League B Group 1'],
       ['International - CONCACAF Nations League B Group 4'],
       ['International - CONCACAF Nations League B Group 4'],
       ['International - CONCACAF Nations League C Group 2'],
       ['International - National Friendlies'],
       ['International - National Friendlies'],
       ['International - National Friendlies'],
       ['International - European Championship Qualification Group A'],
       ['International - European Championship Qualification Group A'],
       ['International - European Championship Qualification Group B'],
       ['International - European Championship Qualification Group B'],
       ['International - European Championship Qualification Group H'],
       ['International - European Championship Qualification Group H'],
       ['International - European Championship Qualification Group H'],
       ['International - Africa Cup of Nations Qualification Group A'],
       ['International - Africa Cup of Nations Qualification Group C'],
       ['International - Africa Cup of Nations Qualification Group D'],
       ['International - Africa Cup of Nations Qualification Group F'],
       ['International - Africa Cup of Nations Qualification Group G'],
       ['International - Africa Cup of Nations Qualification Group G'],
       ['International - Africa Cup of Nations Qualification Group H'],
       ['International - CONCACAF Nations League B Group 1'],
       ['International - CONCACAF Nations League C Group 4'],
       ['International - National Friendlies'],
       ['International - National Friendlies'],
       ['International - National Friendlies'],
       ['International - National Friendlies'],
       ['International - National Friendlies'],
       ['International - World Cup Qualification AFC 2nd Round Group A'],
       ['International - World Cup Qualification AFC 2nd Round Group A'],
       ['International - World Cup Qualification AFC 2nd Round Group B'],
       ['International - World Cup Qualification AFC 2nd Round Group B'],
       ['International - World Cup Qualification AFC 2nd Round Group C'],
       ['International - World Cup Qualification AFC 2nd Round Group C'],
       ['International - World Cup Qualification AFC 2nd Round Group D'],
       ['International - World Cup Qualification AFC 2nd Round Group D'],
       ['International - World Cup Qualification AFC 2nd Round Group E'],
       ['International - World Cup Qualification AFC 2nd Round Group E'],
       ['International - World Cup Qualification AFC 2nd Round Group F'],
       ['International - World Cup Qualification AFC 2nd Round Group G'],
       ['International - World Cup Qualification AFC 2nd Round Group G'],
       ['International - World Cup Qualification AFC 2nd Round Group H'],
       ['International - World Cup Qualification AFC 2nd Round Group H']],
      dtype=object)

In [59]:
unique,counts=np.unique(com,return_counts=True)

In [60]:
print(unique,counts)

['International - Africa Cup of Nations Qualification Group A'
 'International - Africa Cup of Nations Qualification Group B'
 'International - Africa Cup of Nations Qualification Group C'
 'International - Africa Cup of Nations Qualification Group D'
 'International - Africa Cup of Nations Qualification Group E'
 'International - Africa Cup of Nations Qualification Group F'
 'International - Africa Cup of Nations Qualification Group G'
 'International - Africa Cup of Nations Qualification Group H'
 'International - Africa Cup of Nations Qualification Group I'
 'International - Africa Cup of Nations Qualification Group J'
 'International - Africa Cup of Nations Qualification Group K'
 'International - Africa Cup of Nations Qualification Group L'
 'International - CONCACAF Nations League A Group 1'
 'International - CONCACAF Nations League A Group 2'
 'International - CONCACAF Nations League A Group 3'
 'International - CONCACAF Nations League A Group 4'
 'International - CONCACAF Nations League B Group 1'
 'International - CONCACAF Nations League B Group 2'
 'International - CONCACAF Nations League B Group 3'
 'International - CONCACAF Nations League B Group 4'
 'International - CONCACAF Nations League C Group 1'
 'International - CONCACAF Nations League C Group 2'
 'International - CONCACAF Nations League C Group 3'
 'International - CONCACAF Nations League C Group 4'
 'International - European Championship Qualification Group A'
 'International - European Championship Qualification Group B'
 'International - European Championship Qualification Group C'
 'International - European Championship Qualification Group D'
 'International - European Championship Qualification Group E'
 'International - European Championship Qualification Group F'
 'International - European Championship Qualification Group G'
 'International - European Championship Qualification Group H'
 'International - European Championship Qualification Group I'
 'International - European Championship Qualification Group J'
 'International - National Friendlies'
 'International - World Cup Qualification AFC 2nd Round Group A'
 'International - World Cup Qualification AFC 2nd Round Group B'
 'International - World Cup Qualification AFC 2nd Round Group C'
 'International - World Cup Qualification AFC 2nd Round Group D'
 'International - World Cup Qualification AFC 2nd Round Group E'
 'International - World Cup Qualification AFC 2nd Round Group F'
 'International - World Cup Qualification AFC 2nd Round Group G'
 'International - World Cup Qualification AFC 2nd Round Group H'] [ 3  2  3  3  3  3  4  4  2  4  4  2  1  1  2  2  4  4  4  4  2  2  2  2
  4  4  4  4  4  6  6  6  6  6 16  4  4  4  4  4  3  4  4]

# Observation 4
## Most Matches are International - National Friendlies (16 matches)